* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: yellow #000;
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #000;
  backdrop-filter: blur(2px);
}

html::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 1px;
  background-clip: padding-box;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
